body{
    background-color: #5cdb95;
    font-family:'Courier New', Courier, monospace;
}
h1{
    font-size: 3.5rem;
    font-weight: bold;
}
.topColumn{
    display:flex;
    justify-content: center;
    align-content: center;
    gap:20px;
    
}
.slider{
    display:flex;
    align-content: center;
    align-items:center;
}
.slider p {
    font-size: 26px;
    font-weight: 600;
    padding-left: 30px;
    color: black;
}
.slider input[type="range"] {
    -webkit-appearance:none !important;
    width: 420px;
    height: 2px;
    background: black;
    border: none;
    outline: none;
    transition:150ms ;
}
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 30px;
    height:30px;
    background: black;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.slider input[type="range"]::-webkit-slider-thumb:hover {
    background: black;
}
.slider input[type="range"]:hover{
    transform:scale(1.1);
}
.upperBtn{
    display:flex;
    justify-content: center;
    gap:16px;
}
.upperBtn button{
    outline: none;
    border:none;
    cursor:pointer;
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #edf5e1;
    cursor: pointer;
    border: 3px solid black;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px black, 2px 2px 0px 0px black, 3px 3px 0px 0px black, 4px 4px 0px 0px black, 5px 5px 0px 0px black;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-weight: bold;
}
.black{
    background-color: #000;
    
}
.color{
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
}
button.resetbtn{
    outline: none;
    border:none;
    background:none;
    cursor:pointer;
    font-size: 3rem;
    transition:100ms;
}
button:hover{
    transform:scale(1.2);
}

.title{
    color: #05386b;
    display:flex;
    justify-content: center;
}
.container{
    display:grid;
    justify-content: center;
    margin:auto;
    grid-template-columns: repeat(var(--numCol),1fr);
    grid-template-rows: repeat(var(--numRow),1fr);
    width:600px;
    height:600px;
    border:#05386b solid 5px;
}
.cell{
    display:flex;
    padding:3px;
    border:#05386b solid 1px;
    background-color: #edf5e1;
    transition-duration: 0s;
}
.cell:hover{
    transform:scale(1.4);
}
/*Creates a variable with a global scope and -- is how we make the variables*/
:root{
    --numCol:1;
    --numRow:1;
}