body{
    background-color: #5cdb95;
    font-family:'Courier New', Courier, monospace;
}
h1{
    font-size: 3.5rem;
    font-weight: bold;
}
.topColumn{
    display:flex;
    justify-content: center;
    align-content: center;
    gap:20px;
    
}
.slider{
    display:flex;
    align-content: center;
    align-items:center;
}
.slider p {
    font-size: 26px;
    font-weight: 600;
    padding-left: 30px;
    color: black;
}
.slider input[type="range"] {
    -webkit-appearance:none !important;
    width: 420px;
    height: 2px;
    background: black;
    border: none;
    outline: none;
    transition:150ms ;
}
.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 30px;
    height:30px;
    background: black;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.slider input[type="range"]::-webkit-slider-thumb:hover {
    background: black;
}
.slider input[type="range"]:hover{
    transform:scale(1.1);
}
/* button.new{
    outline: none;
    border:none;
    background:none;
    cursor:pointer;
} */

button.resetbtn{
    outline: none;
    border:none;
    background:none;
    cursor:pointer;
    font-size: 3rem;
    transition:100ms;
}
button:hover{
    transform:scale(1.2);
}

.title{
    color: #05386b;
    display:flex;
    justify-content: center;
}
.container{
    display:grid;
    justify-content: center;
    margin:auto;
    grid-template-columns: repeat(var(--numCol),1fr);
    grid-template-rows: repeat(var(--numRow),1fr);
    width:600px;
    height:600px;
    border:#05386b solid 5px;
}
.cell{
    display:flex;
    padding:3px;
    border:#05386b solid 1px;
    background-color: #edf5e1;
    transition-duration: 0s;
}

/*Creates a variable with a global scope and -- is how we make the variables*/
:root{
    --numCol:1;
    --numRow:1;
}